version: "3.8"

services:
  db:
    image: postgres:15
    container_name: task2_db
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - task2_db_data:/var/lib/postgresql/data

  backend:
    build: ./back
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./back:/app
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}

volumes:
  task2_db_data:
