.home {
  padding: 40px;
  background-color: #f5f5f5;
  min-height: 100vh;
}

.home-h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #333;
}

.home-content {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Left Side */
.home-content-left {
  flex: 1;
  padding: 30px;
}

.home-content-left h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #0077cc;
}

.form div {
  margin-bottom: 20px;
}

.form p {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 500;
  color: #555;
}

.form input {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: small;
  margin-left: 0;
}

.form textarea {
  width: 90%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: Arial, sans-serif;
  font-size: small;
}

.form button {
  padding: 10px 20px;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form button:hover {
  background-color: #005fa3;
}

.home-content::before {
  content: "";
  width: 1px;
  background-color: #ccc;
  margin: 0 0;
}

.home-content > *:not(:last-child) {
  border-right: 1px solid #ccc;
}

/* Right Side */
.home-content-right {
  flex: 1;
  padding: 30px;
}

.home-content-right h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #0077cc;
}

@media (max-width: 768px) {
  .home {
    padding: 10px;
  }

  .home-h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .home-content {
    flex-direction: column;
    box-shadow: none;
    border-radius: 10px;
  }

  .home-content-left,
  .home-content-right {
    padding: 20px;
    border-right: none !important;
  }

  .form input,
  .form textarea {
    width: 90%;
    margin-left: 0;
  }

  .home-content::before {
    display: none;
  }
}
